<% provide(:title, @member.firstname) %>

<div class="jumbotron">
  <h1><%= @member.firstname %>&nbsp;<%= @member.lastname %></h1>
  <p>Books checked out under your account</p>
  <table id="member_book" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Description</th>
        <th>Author</th>
        <th>Due date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @books.where(:member_id => @member.id).each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= book.image %></td>
          <td><%= book.title %></td>
          <td><%= book.isbn %></td>
          <td><%= book.description %></td>
          <td><%= book.author %></td>
          <td><%= book.end_date %></td>
          <td><%= button_to 'Renew', {action: :renew, id: book.id}, {class: 'btn btn-primary btn-small'}  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>